.home-btn {
  max-width: fit-content;
  margin-top: 50px;
}

.planet {
  display: flex;
  justify-content: space-between;
  max-height: 400px;
}

.planet-info {
  display: flex;
  flex-direction: column;

  .title {
    margin-bottom: 20px;
  }
}

.planet-image {
  display: block;
  max-width: 400px;
}

.residents-control {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .select {
    padding: 0;
  }
}
